.recipes-block {
  margin-top: 95px;
  padding: 1rem;

  &--fixed {
    position: fixed;
    //width: 100%;
    z-index: 2;
  
    &::after {
      background-color: rgba($cod-grey, 0.8);
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
