.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border-radius: 2px;
  padding: 1rem;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  z-index: 1;
}

.login__close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-weight: bold;
  font-family: arial, sans-serif;
  cursor: pointer;
}

.login__label {
  display: block;
}

.login__input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #ccc;
}