.recipes-wrapper--fixed {
  position: fixed;
  width: 100%;
}

.recipes-wrapper--fixed::after {
  background-color: rgba(17,17,17,0.8);
  content: '';
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
